@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import "tailwindcss";


@theme{
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-curve: "Reenie Beanie", cursive;
  --color-text01: #A1A1A1;
  --color-text02: #C3C2C4;
  --color-border01: #222122;
  --color-background01: #1C1B1C
}